@import url(/css/fonts.css);
@import url(/css/slideshow.css);

* {
  margin: 0;
  scroll-behavior: smooth;
  color: #1E1E1E;
  letter-spacing: 0.05em;
  font-family: 'Kohinoor Bangla', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  position: fixed;
  top: 0;
  left: 0;
  /*  note vh and vw switched  */
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  /*   scroll-snap-type: y mandatory; */
  margin-inline-start: 265px;
}

.sub-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

section {
  width: 65vw;
  height: 100vh;
  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 3rem;
  /*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section:last-child {
  margin-right: 265px;
}

.side-navbar {
  position: fixed;
  width: 265px;
  height: 100vh;
  background-color: white;
  z-index: 99;
  padding: 66px 40px;
}

.side-navbar .top li {
  list-style-type: none;
  margin-bottom: 8px;
}

.side-navbar .top a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #1E1E1E;
}

.side-navbar .top a:hover,
.side-navbar .top a.active {
  font-weight: 800;
  text-decoration: none;
}

.side-navbar .top .side-logo {
  margin-bottom: 9vh;
  width: 68px;
  height: 70px;
}

.side-navbar .footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.side-navbar .footer p {
  margin: 0;
}

.side-navbar .footer img {
  margin-bottom: 20px;
}

.about-us {
  width: 420px;
  font-size: 14px;
  padding: 6vw 60px;
}

.content {
  font-size: 13px;
  margin-bottom: 0;
}

.fw-bold {
  font-weight: 700;
}

.fw-thin {
  font-weight: 400;
}

.our-team {
  width: 500px;
  font-size: 14px;
  padding: 6vw 60px;
  position: relative;
}

.ourteam-logo {
  position: absolute;
  top: 3%;
  right: 0;
}

.dark-box-content {
  background: #1E1E1E;
  color: white;
  font-size: 14px;
  border-bottom: 13px solid #D51F26;
  position: absolute;
}

.dark-box-content.box-1 {
  width: 429px;
  height: 326px;
  left: 10%;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.dark-box-content.box-1 p {
  font-size: 12px;
}

#highlights {
  position: relative;
}

.highlights-title {
  position: absolute;
  top: 22%;
  left: 13%;
  z-index: 2;
}

.highlights-title p {
  color: white;
  line-height: 100px;
  font-size: 130px;
}

.dark-box-content.box-2 {
  width: 396px;
  height: 230px;
  margin: 5vw;
  padding: 62px 37px;
}

.our-clients {
  width: 855px;
  padding: 101px 89px;
}

.our-clients-content {
  width: 468px;
}