:root {
    --primary-color: #DDD48F50;
    --primary-color-sub: #6B8C21;

    --secondary-color: #704012;
    --secondary-color-sub: #CDA989;

    --white: #FEFEFE;
}

::selection {
    color: var(--secondary-color-sub);
    background-color: var(--primary-color-sub);
}

body {
    padding: 0 !important;
}

.web-wrapper {
    color: var(--secondary-color);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 20px;
}

/* About */
.about {
    background-color: var(--primary-color);
    padding: 50px 20px;
    min-height: 400px;
}

.about p {
    max-width: 700px;
}

/* Work experiences */
.work-experiences {
    margin: 0 auto;
    max-width: 700px;
}

/* Contact */
.border-box {
    width: 150px;
    height: 150px;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid var(--secondary-color);
    line-height: 40px;
    text-align: center;
}

.contact {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-info {
    gap: 30px;
}

.contact-info svg {
    transition: .5s;
}

.contact-info svg:hover {
    transform: scale(1.2);
}

.contact-info svg:hover path {
    fill: var(--secondary-color-sub);
}

.small-square {
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    margin: 20px auto 50px auto;
}

.copy-right p:hover + a {
    color: var(--secondary-color);
}

.copy-right a {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: transparent;
    transition: .5s;
}

.copy-right a:hover {
    color: var(--secondary-color-sub);
    text-decoration: none;
}

.copy-right p {
    cursor: pointer;
}